.notFound {
  margin-top: 3em;
  color: #000;
}

.notFoundD {
  margin-top: 3em;
  color: #fff;
}

.heading {
  font-weight: bold;
  font-size: 16px;
}

.emoji {
  font-size: 20px;
  margin-top: 15px;
}
